@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/
*{
	margin:0; padding:0; 
	list-style:none; 
	font-family: 'Nanum Gothic', sans-serif;}

a{text-decoration:none;}
a:link{color:#666;}
a:visited{color:#666;}
a:hover{color:#78b3c5;}
a:active{color:#666;}

/*공통사용*/
.clear::after{
	content:'';
	width:0; height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
section>h2{
	display:none;
	visibility:hidden;
	width:0; height:0;
	overflow:hidden;
	text-indent:-9999px;
}

/*헤더 영역 CSS*/
.header{
	width:1200px; height:200px;
	margin:0 auto;
	position:relative;
}
.logo{margin:20px 0px 10px 575px;}
.logo img{width:50px;}

/*유틸영역 CSS*/
.util>li{float:left; margin-right:30px;}
.util{float:right;}
.util>li>a{display:block;}

/*GNB영역 CSS*/
.gnb>li{float:left;}
.gnb{
	position:absolute;
	bottom:50px;
}
.gnb>li>a{
	display:block;
	width:200px;
	text-align:center;
	font-weight:bold;
}
.gnb>li>a:hover{
	color:#78b3c5;
}

/*섹션공통*/
section{
	width:1200px; height:auto;
	margin:0 auto;
}
/*비주얼배너영역*/
.slider{
	height:500px;
	margin-bottom:100px;
}
/*브랜드영역*/
.brand_sec {height:500px;}
.brand_img{
	width:750px; height:500px;
	background:url('../images/brand.png') no-repeat left top;
}
.brand_sec{
	position:relative;
	margin-bottom:100px;
}
.brand_sec mark{
	background:#deeff6;
	color:#2d2d2d;
}
.brand_sec strong{
	color:#78b3c5;
	font-weight:bold;
	font-size:1.4rem;	
}
.brand_sec p{
	line-height:50px;
	background:rgba(255,255,255,0.5);
	position:absolute;
	top:15px;
	left:600px;
	padding:20px 30px;	
	font-weight:bold;
	color:#4c4c4c;
}
.brand_sec a:nth-of-type(1){
	position:absolute;
	right:220px;
	bottom:0;
}
.brand_sec a:nth-of-type(2){
	position:absolute;
	right:20px;
	bottom:0;
}
.brand_sec a:hover img{
	width:110%;
}

/*포풀포풀영역*/
.popular_sec{
	position:relative;
	height:263px;
	padding-bottom:150px;
}
.popular_sec h4{
	color:#78b3c5;
	font-size:2.8rem;
	font-weight:bold;
	margin-bottom:20px;
}
.popular_sec>p{
	color:gray;
	line-height:30px;
	margin-bottom:20px;
}
.popular_sec>a{
	color:#78b3c5;
	display:block;
	border:1px solid #78b3c5;
	width:100px; height:40px;
	line-height:35px;
	text-align:center;
}
.popular_sec>a:hover{
	background:#78b3c5;
	color:#fff;
}
.popular_sec>ul{
	position:absolute;
	top:0;
	right:0;
}
.popular_sec>ul>li{
	float:left;
	margin:0 10px;
}
.popular_sec>ul>li img{
	width:210px;
}
.popular_sec>ul>li>a:hover img{
	transform:translateY(-30px);
	transition:all 0.3s;
}
	
/*투데이 스토리영역*/
.story_sec>h3{
	text-align:center;
	font-size:1.8rem;
	font-weight:bold;
	color:#4c4c4c;
	margin-bottom:20px;
}
.story_sec>h4{
	text-align:center;
	font-weight:bold;
	color:#4c4c4c;
}
.story_wrap{
	height:900px;
	margin-top:50px;
	margin-bottom:100px;
	position:relative;
}
.brand_img2{
	width:514px; height:514px;
	background:url('../images/story_1.png') no-repeat left top;
	position:absolute;
	right:0;
}
.story_txt1{
	border-left:4px solid #78b3c5;
	padding:20px 15px;
	position:absolute;
	top:150px; left:200px;
}
.story_txt1>h4{
	color:#236680;
	font-size:1.3rem;
	font-weight:bold;
	padding-bottom:20px;
}
.story_txt1>p{
	line-height:30px;
	font-weight:bold;
	color:#4c4c4c;
	font-size:0.8rem;
}
.brand_img3{
	width:514px; height:514px;
	background:url('../images/story_2.png') no-repeat left bottom;
	position:absolute;
	bottom:0;
}
.story_txt2{
	border-right:4px solid #78b3c5;
	padding:20px 15px;
	position:absolute;
	bottom:100px; right:180px;
	text-align:right;
}
.story_txt2>h4{
	color:#236680;
	font-size:1.3rem;
	font-weight:bold;
	padding-bottom:20px;
}
.story_txt2>p{
	line-height:30px;
	font-weight:bold;
	color:#4c4c4c;
	font-size:0.8rem;
}
/*인스타그램 영역*/
.instagram_sec{
	margin-bottom:60px;
}
.instagram_sec>h3{
	text-align:center;
	font-size:1.8rem;
	font-weight:bold;
	color:#4c4c4c;
	margin-bottom:20px;	
}
.instagram_sec>p{
	text-align:center;
	color:#4c4c4c;
	margin-bottom:30px;
}
.instagram_sec>p>span{
	color:#78b3c5;
	font-weight:bold;
}
.instagram_sec>ul>li{
	float:left;
}

.instagram_sec>ul>li{
	position:relative;
	margin-left:42px;
}
.instagram_sec>ul>li:first-child{
	margin-left:0px;
}
.instagram_sec>ul>li>a>span{
	position:absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	display:block;
	border:2px solid #fff;
	padding:8px 15px;
	color:#fff;
	font-weight:bold;
	opacity:0;
}
.instagram_sec>ul>li>a:hover>span{
	opacity:1;
}
.instagram_sec>ul>li a::before{
		content:'';
		display:block;
		width:100%; height:100%;
		position:absolute;
		background:#333;
		opacity:0;
		transition:all .4s;
}
.instagram_sec>ul>li a:hover::before{
	opacity:.6;
}

/*푸터영역*/
.footer{
	height:300px;
	background:#deeff6;
	text-align:center;
}
.footer_list{
	padding:35px 0px 20px 600px;
}
.footer_list>li>a{
	float:left;
	margin-right:150px;
	font-weight:bold;
	color:#4c4c4c;
}
.footer_list>li:last-child>a{
	margin-right:0px;
}
address{
	color:#4c4c4c;
	line-height:40px;
}
.icon>li>a{
	float:left;
	margin-right:30px;
}
.icon>li:last-child>a{
	margin-right:0px;
}
.icon{
	padding:20px 0px 0px 850px;
}
.icon>li>a img{
	width:20px;
}